body {
    font-size: 12px;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tColor {
    margin-top: 5px;
    margin-bottom: 15px;
}

.inputColor, .inputColorBlocked {
    width: 30px;
    height: 30px;
    margin: 2px;
    border: 1px solid #777;
    border-radius: 50px;
}

.inputColor {
    opacity: 0.7;
}

.inputColorBlocked {
    opacity: 0.3;
}

.inputColor:hover {
    cursor: pointer;
    border: 1px solid #333;
    opacity: 1;
}

.activeColor {
    border: 1px solid #333;
    opacity: 1;
}

#color1 {
    background-color: #000;
    }
    
    #color2 {
        background-color: #fff;
    }
    
    #color3 {
        background-color: #800;
    }
    
    #color4 {
        background-color: #a60;
    }
    
    #color5 {
        background-color: #cc0;
    }
    
    #color6 {
        background-color: #080;
    }
    
    #color7 {
        background-color: #088;
    }
    
    #color8 {
        background-color: #038;
    }
    
    #color9 {
        background-color: #308;
    }
    
    #color10 {
        background-color: #808;
    }
    
#btnRedo, #btnUndo {
    width: 100px;
    height: 28px;
    margin: 0 2px;
    border-radius: 5px;
}

#btnNewArea, #btnSave {
    margin: 0 5px;
    width: 100px;
    height: 28px;
    float: left;
    border-radius: 5px;
    color: #035;
    background-color: #fff;
    border-color: #035;
}

#btnNewArea:hover, #btnSave:hover {
    background-color: #035;
    color: #fff;
}

#cImgLoad {
    background-color:#111;
}

.cMask {
    opacity: 0.7;
    position: absolute;
    top: 5px;
    left: 5px;
}

.cThumb {
    background-color: #111;
}

#divCBE {
    position: relative;
    float: left;
    height: 452px;
}

#divInfo {
    float: right;
    width: 780px;
    height: 452px;
    overflow-y: scroll;
}

.divLayerImg {
    float: left;
    width: 160px;
    height: 90px;
    position: relative;
}

.divLayerContent {
    float: right;
    width: 560px;
    height: 90px;
    position: relative;
}

.divNewLayer {
    width: 750px;
    height: 92px;
    padding: 5px;
    display: block;
    background-color: #fff;
}

#divPublished {
    min-height: 250px;
    margin: 10px 0;
    background: #eee;
}

#divSave {
    width: 224px;
    border: 1px transparent;
    margin-top: 10px;
}

#divUI {
    float: left;
    width: 246px;
}

#taInfo {
    width: 216px;
    height: 80px;
}

#wrapper {
    margin: 0;
    height: 520px;
    background: #eee;
}